<div class="">
  <div class="">
    <h1>Hello 
      {{#if currentUser}}
        {{currentUser.username}}!
      {{else}}
        Anon!
      {{/if}}
    </h1>
    {{#each posts}}
      <div class="">
        <div>
          <div class="">
            <a href="/posts/{{this._id}}">{{this.title}}</a>
          </div>
          <a href="{{this.url}}" target="_blank">{{this.url}}</a>
          <div><small>{{this.author.username}}</small></div>
          <p>Subreddit tags: </p>
          {{#each this.subreddits}}
            <a href="/n/{{this}}" class="">{{this}}</a>
          {{/each}}
        </div>
        <div class="">
          <form class="" data-id="{{this._id}}">
            <button type="submit" class="">🔼</button>
          </form>
          #{{this.voteScore}}
          <form class="" data-id="{{this._id}}">
            <button type="submit" class="">🔽</button>
          </form>
        </div>
      </div>
    {{/each}}
  </div>
</div>