<div >
  <div class="post-main">
    <div class="post-content">
      <div>
        <a class="post-title-link" href="{{post.url}}">{{post.title}}</a>
        {{#if post.subreddits}}
          <span> - in 
              {{#if post.subreddits.length}}
                {{post.subreddits.length}} subreddits:
              {{else}}
                1 subreddit:
              {{/if}}
          </span>
          <div>
          {{#each post.subreddits}}
            <a href="/n/{{this}}" >/n/{{this}}</a>
          {{/each}}
          </div>
        {{/if}}
        <p>{{post.summary}}</p>
        <p>
          {{#if this.author.username}}
            <small>Author: <span class="author">{{this.author.username}}</span></small>
          {{else}}
            <small>Author: [deleted]</small>
          {{/if}}
        </p> 
      </div>
      <div class="voting">
        <form class="upvote-form" data-id="{{post._id}}">
          <button type="submit" class="index-upvote-button"></button>
        </form>
        {{post.voteScore}}
        <form class="downvote-form" data-id="{{post._id}}">
          <button type="submit" class="index-downvote-button"></button>
        </form>
      </div>
    </div>
    {{#if post.comments}}
      <p >Comments:</p>
        {{#each post.comments}}
          {{> comment comment=this postId=../post._id currentUser=../currentUser}}
        {{/each}}
    {{/if}}
    {{#if currentUser}}
    <p >Add a comment:</p>
    <form action="/posts/{{post._id}}/comments" method="post">
      <textarea class="comment-box" name="content" placeholder="Comment"></textarea>
      <div class="comment-submit-button">
        <button type="submit">Post!</button>
      </div>
    </form>
    {{/if}}
  </div>
</div>