<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h1>Hello Posts!</h1>
    {{#each posts}}
      <div class="border m-1">
        <li class="list-group-item">
          <div class="lead">
            <a href="/posts/{{this._id}}">{{this.title}}</a>
          </div>
          <a href="{{this.url}}" target="_blank">{{this.url}}</a>
          <div><small>{{this.author.username}}</small></div>
          <p>Subreddit tags: </p>
          {{#each this.subreddits}}
            <a href="/n/{{this}}">{{this}}</a><span>  </span>
          {{/each}}
        </li>
      </div>
    {{/each}}
  </div>
</div>