<div class="">
  <div class="post-main">
    <div class="post-content">
      <div>
        <a href="{{post.url}}" class="">{{post.title}}</a>
        <p>{{post.summary}}</p>
        <p><small>{{post.author.username}}</small></p>
        {{#if post.subreddits}}
          <p class="">Post subreddits:</p>
          <div>
          {{#each post.subreddits}}
            <a href="/n/{{this}}" class="">{{this}}</a>
          {{/each}}
          </div>
        {{/if}}
      </div>
      <div class="voting-forms">
        <form class="upvote-form" data-id="{{post._id}}">
          <button type="submit" class="upvote-button">🔼</button>
        </form>
        #{{post.voteScore}}
        <form class="downvote-form" data-id="{{post._id}}">
          <button type="submit" class="downvote-button">🔽</button>
        </form>
      </div>
    </div>
    {{#if post.comments}}
      <p class="">Comments:</p>
        {{#each post.comments}}
          {{> comment comment=this postId=../post._id currentUser=../currentUser}}
        {{/each}}
    {{/if}}
    {{#if currentUser}}
    <p class="">Add a comment:</p>
    <form action="/posts/{{post._id}}/comments" method="post">
      <textarea class="" name="content" placeholder="Comment"></textarea>
      <div class="comment-submit-button">
        <button type="submit" class="">Save</button>
      </div>
    </form>
    {{/if}}
  </div>
</div>